
@{
    ViewBag.Title = "sweetalert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>sweetalert</h2>
<div>
    <button id="bt-msgbox" class="btn btn-primary">Sweet Alert</button>
</div>

<script>
        $(document).ready(function () {


            $("#bt-msgbox").on("click", function () {
                swal.fire({
                    title: "لطفا رمز جدید خود را وارد نمایید",
                    html: `<input type="password" id="login" class="swal2-input" placeholder="رمز عبور" style="width:80%" dir="rtl" >
                           <input type="password" id="password" class="swal2-input" placeholder="تکرار رمز عبور" style="width:80%" dir="rtl"  >` ,
                    confirmButtonText: 'Ok',
                    focuseConfirm: false,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    didOpen: () => {
                        swal.getPopup().querySelector('#login').focus();
                    },
                    preConfirm: () => {
                        const login = swal.getPopup().querySelector('#login').value
                        const password = swal.getPopup().querySelector('#password').value

                        if (!login || !password) {
                            swal.showValidationMessage(`لطفا نام کاربری و رمز عبور را وارد نمایید`)
                            swal.getPopup().querySelector('#login').focus();
                        }
                        else if (login != password) {
                            
                            swal.showValidationMessage(`رمز عبور و تکرا رمز عبور یکسنان نمی باشد`)
                            swal.getPopup().querySelector('#login').focus();
                        }
                        return { login: login, password: password }
                    }
                }).then((result) => {
                    swal.fire(`
                            login:${result.value.login}
                            pssword:${result.value.password}
                        `.trim())
                })

                /*swal.fire('عنوان' ,'متن اولین پیام' , 'question')*/
                //swal.fire({
                //    icon:'error',
                //    title: 'اولین عنوان',
                //    text: 'آیا متن زیر نمایش داده شود ' + '\r\n\بله و خیر',
                //    footer:'حقوق این اثر متعلق به ...'
                //})

                //swal.fire({
                //    title:'دندان پزشکی',
                //    imageUrl: './images/Dental.PNG',
                //    imageAlt: 'Dental',
                //    /*imageHeight: 1500,*/

                //})

                //swal.fire({
                //    title: '<strong>HTML <u>مثال</u></strong>',
                //    icon:'error',
                //    html:'You can use <b>bold text</b>, ' +
                //        '<a href="//sweetalert2.github.io">links</a> ' +
                //        'and other HTML tags',
                //    showCancelButton: true,
                //    showCloseButton: true,
                //    focusConfirm: true,
                //    confirmButtonText: '<i class="fa fa thumbs-up"></i> موافقی',
                //    cancelButtonAriaLabel: 'Thumbs down'

                //})

                //swal.fire({
                //    title: 'آیا تغییرات ذخیره شود؟',
                //    showDenyButton: true,
                //    showCancelButton: true,
                //    confirmButtonText: 'بله',
                //    denyButtonText: 'خیر',
                //    cancelButtonText: 'انصراف',
                //    reverseButtons: true,
                //    showCloseButton: true,
                //}).then((result) => {
                //    if (result.isConfirmed) {
                //        swal.fire('بله کلیک شد')
                //    } else if (result.isDenied) {
                //        swal.fire('خیر کلیک شد')
                //    }

                //})

                //swal.fire({
                //    title: 'نمایش پیام با انیمیشن',
                //    showClass: {
                //        popup:'animate__animated animate__fadeInDown',
                //    },
                //    hideClass: {
                //        popup:'animate__animated animate__fadeOutDown'
                //    }
                //})

                //swal.fire ({
                //    title: 'پیام',
                //    text: 'پس از دو ثانیه بسته می شود',
                //    timer: 2000,
                //    timerProgressBar:true,
                //})



                //swal.fire({
                //    title: "sweet!",
                //    text: "model with the custom image",
                //    imageUrl: "./images/dental.png",
                //    imageWidth: "100%",
                //    imageAlt:'Custom image',
                //})

                //swal.fire({
                //    title: 'Are you sure ?',
                //    text: "You won't be able to revert this!",
                //    icon: "warning",
                //    showCancelButton: true,
                //    confirmButtonColor: "#3085d6",
                //    confirmButtonText: "بله",

                //    cancelButtonColor: "#d33",
                //    cancelButtonText:"خیر اصلا موافق نیستم",

                //    reverseButtons: true,
                //}).then((result) => {
                //    if (result.isConfirmed) {
                //        swal.fire({
                //            icon: 'success',
                //            title:"حذف",
                //            text: 'حذف انجام شد',
                //            timer:1000,
                //        })
                //    }
                //})

                //const Toast = swal.mixin({
                //    toast: true,
                //    showConfirmButton: false,
                //    timer: 1000,
                //    timerProgressBar: true,
                //})

                //swal.fire({
                //    toast: true,
                //    showConfirmButton: false,
                //    timer: 1000,
                //    timerProgressBar: true,
                //    icon: 'success',
                //    iconColor: '#0094ff',
                //    position: 'bottom',
                //    background:'#ffffff',
                //    title:'اطلاعات با موفقیت ذخیره شد',
                //})

                //swal.fire({
                //    title: "نام خود را کنید",
                //    input: 'text',
                //    inputLabel: 'نام کاربری',
                //    inputPlaceholder:"نام کاربری خود را وارد نمایید",
                //    iconHtml: '؟',
                //    showCloseButton:true,
                //}).then((result) => {
                //    if (result.isConfirmed) {
                //        alert(result.value);
                //    }
                //})

                //swal.fire({
                //    position: 'bottom-left',
                //    icon: 'success',
                //    title: 'پیام شما با موفقیت انجام شد',
                //    showConfirmButton: false,
                //    timer:2000,
                //})
                //swal.fire({
                //    title: "خوش آمدید",
                //    text: "این اولین پیام نمایش بده من است",
                //})
            })

            $("#bt-login").on("click", function () {
                var username = $("#tb-username").val();
                if (username.trim() == "") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-danger',
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        icon: 'error',
                        title: 'تکمیل اطلاعات',
                        text: 'لطفا نام کاربری و رمز را وارد نمایید',
                        confirmButtonText: 'تایید',
                    })
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("getData", "Home")",
                        data: {
                            a: $("#tb-username").val()
                        },
                        success: function (result) {
                            if (result.success) {
                                console.log(result.success);
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'عدم ورود',
                                    html: '<p style="direction:rtl;color:black;">' + result.error + '</p>',
                                    confirmButtonText:'تایید',
                                })
                                /*alert(result.error);*/
                            }

                        }

                    })
                }
            })
        })

</script>